body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
div {
  display: flex;
  gap: 50px;
  text-align: center;
}

button {
  font-size: 30px;

  padding: 30px 50px;
}
